<div class='about'>
  <h4 class="text-center">Created by Parinda Darden</h4>
  <h4 class="text-center"><%= link_to 'GitHub', 'https://github.com/pdarden', target: '_blank' %></h4>
  <h4 class="text-center"><%= link_to 'Twitter', 'https://twitter.com/ParindaDarden', target: '_blank' %></h4>
</div>
