# PostgreSQL. Versions 8.2 and up are supported.

development:
  adapter: postgresql
  encoding: unicode
  database: launcher_selfies_development
  pool: 5
  username:
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: launcher_selfies_test
  pool: 5
  username:
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: launcher_selfies_production
  pool: 5
  username:
  password: